@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

@font-face {
    font-family: 'Gilroy';
    /*a name to be used later*/
    src: url(../font/Gilroy-ExtraBold.otf);
    /*URL to font*/
    font-weight: bold;
}
@font-face {
    font-family: 'Gilroy';
    /*a name to be used later*/
    src: url(../font/Gilroy-Light.otf);
    /*URL to font*/
    font-weight: lighter;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 1px solid red;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 24px;
    font-weight: 100;
}

.nav-logo {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    color: #fff;
    max-height: 76px;
    align-items: center;
    display: flex;
}

.nav-logo img {
    max-width: 71px;
    height: auto;
    margin: 0px 20px 0px 20px;
}

.nav-container1 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: url(../img/search-bar.png) center no-repeat;
    background-size: cover;
    align-items: center;
}

input[type=search] {
    width: 250px;
    height: 40px;
    font-size: 16px;
    padding: 0px 20px 0px 10px;
    border-radius: 5px;
    outline: none;
    border: solid gray 1px;
    background: url(../img/search-icon.png) center no-repeat;
    background-size: contain;
    margin-right: 20px;
}

.nav-container2 {
    background-color: #fff;
}

.nav-text {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.nav-text a {
    color: #474747;
    text-decoration: none;
}


.menu-list {
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    width: 80%;
}

.header-content {
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #212529;
}

.logo {
    text-decoration: none;
    font-size: 25px;
    color: inherit;
    margin-right: 20px;
}

label {
    padding: 23px 20px;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    right: 0;
}

label span {
    width: 20px;
    height: 3px;
    display: block;
    background: #4f3e3e;
    position: relative;
}

label span::after,
label span::before {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    width: inherit;
    height: inherit;
}

label span::before {
    top: 8px;
}

label span::after {
    bottom: 8px;
}

label::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 49px;
    top: 0;
    right: 0;
}

input[type="checkbox"]:focus+label::before {
    box-shadow: 0 0 20px black;
}

ul {
    background: #f2f2f2;
}

ul li {
    list-style: none;
    font-size: 18px;
}

ul li button {
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
}

ul li a,
ul li button {
    padding: 0.7rem 1rem;
    text-align: left;
    margin: 0px 25px 0px 25px;
}

.menus {
    color: #474747;
    position: absolute;
    top: 3.2rem;
    left: 0;
    right: 0;

    /*  hide dropdown on small screens  */
    visibility: hidden;
    /*  smooth transitioning  */
    transform: translateY(-1em);
    transition: transform ease 0.2s;
}

/* toggle main dropdown */

input[type="checkbox"]:checked~nav>ul {
    visibility: visible;
    transform: translateY(0);
}

.dropdown {
    padding: 2px 1.5rem;
    height: 0;
    overflow: hidden;
    transition: height ease 0.2s;
}

li:focus-within .dropdown {
    height: 135px;
}

.arrow {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    border-left: 0.15em solid currentColor;
    border-bottom: 0.15em solid currentColor;
    transform: rotate(-45deg);
    margin-left: 0.38em;
    margin-top: -0.25em;
    transition: transform 100ms ease-in-out;
}

li:focus-within>button>.arrow {
    transform: rotate(-225deg);
    margin-top: 4px;
}

/* MEDIA QUERIES  */
@media (min-width: 640px) {

    .header-content {
        display: flex;
    }

    .menus {
        position: static;
        visibility: visible;
        background: #fff;
        display: flex;
        transform: initial;
        width: 70%;
        color: #474747;
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        align-items: center;
        margin: 0 auto;
    }

    button {
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        color: #474747;
    }


    label,
    input[type="checkbox"] {
        display: none;
    }

    ul li {
        position: relative;
        font-size: 14px;
    }

    ul li a:hover,
    ul li button:hover {
        background-color: #f2f2f2;
    }

    .dropdown {
        position: absolute;
        right: 0;
        left: auto;
        box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
            0 4px 6px -2px rgba(71, 63, 79, 0.16);
        z-index: 99;
        min-width: 10rem;
        padding: 0;
        background-color: #fff;
        border-radius: 0 0 0.5rem 0.5rem;
    }

    ul li:hover .dropdown {
        height: 135px;
    }

    ul li:hover>button>.arrow {
        transform: rotate(-225deg);
        margin-top: 4px;
    }
}

.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;

}

.jv-list-img span {
    background: #c80d0d;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 8PX;
    padding: 0px 10px 0px 25px;
    height: 26px;
    z-index: 10;
    display: flex;
    align-items: center;
}

.jv-list-img span::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    border-left: 5px solid #c80d0d;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #c80d0d;
    border-top: 13px solid #c80d0d;
}

/* SLIDER  */
.new-slider {
    font-weight: normal;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    font-size: 18px;
    width: 2000px;
    text-align: center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide.swiper-slide-prev{
    transform: translateX(15%);
}           
.swiper-slide.swiper-slide-next{
    transform: translateX(-15%);
}
.img-1 {
    background-image: url('https://japanview.tv/wp-content/uploads/2022/12/01-1-1200x800.jpg'), linear-gradient(to bottom, rgba(163, 66, 94, 0) 0%, rgba(141, 82, 99, 0.418) 60%, rgb(172, 93, 114) 100%);
    background-blend-mode: soft-light;
    display: block;
    width: 905px;
    height: 515px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.img-2 {
    background-image: url('https://japanview.tv/wp-content/uploads/2022/12/1-1.jpg'), linear-gradient(to bottom, rgba(163, 66, 94, 0) 0%, rgba(141, 82, 99, 0.418) 60%, rgb(172, 93, 114) 100%);
    background-blend-mode: soft-light;
    display: block;
    width: 905px;
    height: 515px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.img-3 {
    background-image: url('https://japanview.tv/wp-content/uploads/2022/12/sub1-1200x800.jpg'), linear-gradient(to bottom, rgba(163, 66, 94, 0) 0%, rgba(141, 82, 99, 0.418) 60%, rgb(172, 93, 114) 100%);
    background-blend-mode: soft-light;
    display: block;
    width: 905px;
    height: 515px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.img-4 {
    background-image: url('https://japanview.tv/wp-content/uploads/2022/12/thumb.jpg'), linear-gradient(to bottom, rgba(163, 66, 94, 0) 0%, rgba(141, 82, 99, 0.418) 60%, rgb(172, 93, 114) 100%);
    background-blend-mode: soft-light;
    display: block;
    width: 905px;
    height: 515px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.img-5 {
    background-image: url('https://japanview.tv/wp-content/uploads/2022/11/thumbnail-upi.jpg'), linear-gradient(to bottom, rgba(163, 66, 94, 0) 0%, rgba(141, 82, 99, 0.418) 60%, rgb(172, 93, 114) 100%);
    background-blend-mode: soft-light;
    display: block;
    width: 905px;
    height: 515px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.swiper-wrapper {
    overflow: visible;
}

/* TEXT SLIDER  */
.jv-list-body {
    display: flex;
    position: absolute;
    bottom: 15px;
    color: #fff;
    font-size: 34px;
    align-items: center;
}
.jv-list-date p, .jv-list-txt p {
    margin: 0px 15px 0px 15px;
}
.jv-list-body a {
    text-decoration: none;
    color: #fff;
}
.jv-list-post-type {
    border: solid 1px #fff;
    border-radius: 50px;
    padding: 2px 10px;
    flex-shrink: 0;
    margin: 0px 0px 0px 15px;
}
/* MAIN CONTENT  */
.wrapper {
    width: 88%;
    margin: 0 auto;
}
.main-content {
    width: 70%;
}
/* VIDEO  */
.title {
    display: flex;
    align-items: baseline;
    border-bottom: solid 4px #cd8d9f;
    justify-content: space-between;
    margin-top: 40px;
    display: flex;
    align-items: baseline;
}
.title a {
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(#c96e88, #cd8d9f);
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    border-radius: 50px;
}
.title h1 {
    color: #fff;
    font-weight: bold;
    text-shadow:
    -3px -3px 0 #cd8d9f,
    0 -3px 0 #cd8d9f,
    3px -3px 0 #cd8d9f,
    3px 0 0 #cd8d9f,
    3px 3px 0 #cd8d9f,
    0 3px 0 #cd8d9f,
    -3px 3px 0 #cd8d9f,
    -3px 0 0 #cd8d9f;
}
.title .desc {
    font-weight: bold;
    color: #676767;
    font-size: 24px;
}